#preview {
  position: fixed;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 480px;
  width: 270px;
  bottom: 25px;
  right: 25px;
}

#preview-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #4e54c8;;
  color: #fff;
}

.card-text {
  margin-bottom: 10px !important;
}

.custom-container {
  padding: 5px;
  min-width: 550px;
}

.tab-content-container {
  min-width: 400px;
  background-color: white;
  padding: 10px; /* Optional: Add some padding for better appearance */
  border-left: 1px solid #ddd; /* Add a border to the left */
  border-right: 1px solid #ddd; /* Add a border to the right */
  border-bottom: 1px solid #ddd; /* Add a border to the bottom */
  border-radius: 0 0 5px 5px; /* Optional: Add border radius for rounded corners */
}

.form-group-spacing {
  margin-bottom: 10px;
}

.custom-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}